.search-bar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.serach-header-container{
    border: 2px solid rgba(26, 21, 21, 0.2);
    padding-bottom: 15px;
}