.contactWrapper {
    padding: 20px 45px;
    margin-top: 1px;
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
    display: flex; /* Make the contactWrapper a flex container */
    /*align-items: center;*/
    justify-content: space-between;
}

.contactTextContainer {
    flex: 2;
    max-width: 450px;
    min-height: 100%;
}

.textWrapper {
    height: auto;
    margin-top: 180px;
    margin-left: 50px;

}

.textWrapper h1 {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 45px;
}
@media (max-width: 768px) {
    .contactWrapper {
        flex-direction: column;
    }
}